body {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

html, body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ececec; /* etxMedGray */
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background: #1a1b22; /* etxUltraNurple */
    color: white;
}

/* header */
section#header {
    padding: 45px 0;
    margin: 0;
    background-color: #1d3e46; /* extDeepSea */
    background-image: url(etx-header-bg.jpg);
    background-repeat: repeat-x;
    height: 374px;
    margin-bottom: -142px;
}
#header #ethexlogo {
    margin-left: 45px;
}


/* account block and react-Select overrides */
div#accountblock {
    float: right;
    width: 24%;
    margin-right: 0;
    padding: 0;
    min-width: 400px;
}
#accountblock div.Select-control {
    background-color: rgba(26, 27, 34, 1.00); /* etxUltraNurple */
    border: none;
    border-radius: 0;
    color: white;
}
#accountblock div.Select-value {
    color: inherit;
    font-size: 14px;
    font-weight: 600; /* semibold */
    line-height: 62px; /* match this to the select-input height */
    padding-left: 16px;
    padding-right: 16px;
}
#accountblock div.Select-value-label {
    color: inherit;
}
#accountblock div.Select-input {
    height: 62px;
}
#accountblock .has-value.Select--single > .Select-control .Select-value .Select-value-label,
#accountblock .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: inherit;
}
#accountblock span.Select-arrow {
    border-color: white transparent transparent;
}
#accountblock canvas {
    /* all the account images should follow these rules */
    margin: 0;
    padding: 0;
    display:inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

div#accountsupporterinfo {
    background-color: rgba(26, 27, 34, 0.65);
    margin: 1px 0 0 0;
    padding: 16px;
    color: #afafaf;
    font-size: 14px;
    font-weight: 600;
}
#accountsupporterinfo:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
div#supporterbal {
    float: left;
}
div#supportervesting {
    float: right;
    text-align: right;
}
span.vestlighton {
    color: #31d280; /* etxMinty */
}
span.vestlightoff {
    color: #4e5166; /* etxNurple */
}



/* Column Structure */
section#content {
    width: auto;
    margin: 0 auto;
}

section#content:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section#main {
    padding: 16px;
    float: left;
    width: 75%;
    background-color: white;
}

section#sidebar {
    float: right;
    width: 24%;
    padding: 16px;
    background-color: white;
}

a {
    color: #00caee; /* etxCoolBlue */
}

h1 {
    font-size: 42px;
    font-weight: 300;
}

h2 {
    font-size: 22px;
    font-weight: 300;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

p {
    font-size: 16px;
}

p.tip {
    font-size: 13px;
    font-style: italic;
}

div.helpinfo p {
    font-size: 13px;
}

div#orderbook {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

div#orderbook:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
div#buyorders
{
    float: left;
    width: 50%;
    padding-right: 2.5%;
}

div#sellorders
{
    float: right;
    width: 50%;
}

/* Order Makers */
#buyordermaker fieldset, #sellordermaker fieldset {
    position: relative;
    margin: 50px 0 0 0;
    padding: 16px;
    border: none;
    background: #f5f5f5; /* etxMegGray */
}

#buyordermaker legend, #sellordermaker legend {
    position: absolute;
    left: 0;
    top: -50px;
    height: 50px;
    width: 100%;
    padding: 0 16px 0 16px;
    margin: 0;
    color: white;
    font-size: 22px;
    line-height: 50px;
}

div#buyordermaker {
    float: left;
    width: 50%;
    padding-right: 2.5%;
}
#buyordermaker legend {
    background-color: #1d3e46; /* etxDeepSea */
}

div#sellordermaker {
    float: right;
    width: 50%;
}
#sellordermaker legend {
    background-color: #ff6363; /* etxSalmon */
}

div#scroll_table {
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
}

tr#clickRow {
  cursor: pointer;
}
tr#clickRowSelected {
  cursor: pointer;
  background-color: #ff6363; /* etxSalmon */
}
img#tokenIcon {
  height:32px;
  width:32px;
}
table#market {

}
input[type=number]{
    width: 180px;
}
table, td, th {
    vertical-align:center;
    text-align: right;
    font-size: 12px;
}
table {
    width: 100%;
}

th {
    text-align: right;
    background-color: white;
}

tr {
    border-bottom: 1px #ff6363 solid; /* etxSalmon */
}

th#ident {
  width: 35px;
}

th#price {
  width: 80px;
}
th#amount {
  width: 80px;
}
th#total {
  width: 80px;
}
th#action {
  width: 50px;
}

div#label {
  width: 25%; float:left; margin: 5px;
}
div#value {
  width: 25%; float:left; margin: 5px;
}
div#valueType {
  width: 25%; float:left; margin: 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1a1b22; /* etxUltraNurple */
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .before_tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1a1b22; /* etxUltraNurple */
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #1a1b22 transparent; /* etxUltraNurple */
}

.tooltip:hover .before_tooltiptext {
    visibility: visible;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.buyRegion {
    fill: rgba(0,255,0,0.1);
    stroke: rgba(0,255,0,1);
    stroke-width: 1;
}

.sellRegion {
    fill: rgba(255,0,0,0.1);
    stroke: rgba(255,0,0,1);
    stroke-width: 1;
}
.yAxis .domain {
    stroke-width: 0;
}
